<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Mily > Mily X 질문</title>
</head>
<body>
<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="container w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen"></i>
            <span>글쓰기</span>
        </h1>

        <form action="/milyx/create" class="flex flex-col gap-6" method="POST"
              th:action="@{/milyx/create}">
            <div class="form-control">
                <label>1차 카테고리
                    <select class="select select-bordered" id="firstCategory" name="firstCategory">
                        <option value="">전체</option>
                        <option th:each="category : ${firstCategories}" th:text="${category.title}"
                                th:value="${category.id}"></option>
                    </select>
                </label>
                <label>2차 카테고리
                    <select class="select select-bordered" id="secondCategory" name="secondCategory">
                        <option value="">전체</option>
                    </select>
                </label>
                <label class="label">
                    <span class="label-text">제목</span>
                </label>
                <input class="input input-bordered" maxlength="100"
                       name="subject" placeholder="제목" type="text">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">내용</span>
                </label>
                <textarea class="textarea textarea-bordered h-[calc(100vh-450px)] min-h-[100px]" maxlength="20000"
                          name="body" placeholder="내용"
                ></textarea>
            </div>

            <div class="flex flex-col gap-2">
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-pen"></i>
                    <span>글쓰기</span>
                </button>
            </div>
        </form>
        <script th:inline="javascript">
            $("#firstCategory").change(function () {
                var firstCategoryId = $(this).val();

                console.log("firstCategoryId : " + firstCategoryId);

                $.ajax({
                    url: "/milyx/secondCategories",
                    method: "GET",
                    data: { firstCategoryId: firstCategoryId },
                    dataType: "json",
                    success: function (data) {
                    console.log(data);
                        $("#secondCategory").empty();

                        $.each(data, function (index, category) {
                            const option = $("<option>", {
                                value: category.id,
                                text: category.title
                            });
                            $("#secondCategory").append(option);
                        });
                    },
                    error: function (error) {
                        console.error("error : " + error);
                    }
                });
            });
        </script>
    </div>
</div>
</body>
</html>